@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
    font-size: 0.93em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #fff;
    border-bottom: 5px solid black;
}

header select, header input {
    background: #000;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

body {
    background: #16384c;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 350px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: auto;
}

.container .card .imgBx {
    position: relative;
    width: 130px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
}

.container .card:focus .content {
    visibility: visible;
    opacity: 1;
}

.footer-content {
    margin-top: 10px;
}

.footer-content a{
    color: white;
    border: 0;
    background: #16384c;
    padding: 10px;
}

.footer-content a:hover {
    background: tomato;
    
}

/* mobile */
@media all and (max-width: 500px) {
    header {
        flex-wrap: wrap;
        height: 100px;
    }
    .footer-content{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-content a {
        margin: 5px;
    }
    .container .card {
        min-height: 450px;
    }
}